.boxes{
    display: flex;
    flex-wrap:wrap;
}

.boxbase{
    display:flex;
    width: 100px;
    height:100px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 2% ;
    
}

.box1{
    border:2px solid greenyellow;
    box-shadow: 0 0 10px #26d926;
}

.box2{
    border:2px solid rgb(47, 130, 255);
    box-shadow: 0 0 10px #265fd9;
}

.box1:hover{
    background-color: #26d926;
    color: white;
}

ul{
    border:solid purple;
    border-width: 2px;
    width: fit-content;
}

.numlist > li:nth-child(2n){
    color:#26d926;

}

.carlist > li::first-letter{
    color:blue;
}